---
type Props = {
  data: {
    week:string;
    workorder:string;
    requestor: string;
    owner:string;
    customer:string;
    works: string;
    startdate: Date;
    enddate: Date;
    status:string;
  };
};



const { data } = Astro.props;

const startDate = new Date(data.startdate);
const endDate = new Date(data.enddate);
const timeDifference = endDate.getTime() - startDate.getTime();
const dayDifference = timeDifference / (1000 * 3600 * 24);
const currentDate = new Date ();
const overdue = endDate < currentDate;


const cardStyle = (dayDifference < 3) || overdue ? 'bg-red-200' : 'bg-green-200'; // 使用 Tailwind 颜色类
---

<div class={`card ${cardStyle} shadow-md hover:shadow-xl transition-shadow duration-300`}>
  <div class="title font-bold mb-2">申请人: {data.requestor}</div>
  <div>工单号码:{data.workorder}</div>
  <div>week:{data.week}</div>
  <div>需求者：{data.requestor}</div>
  <div>客户： {data.customer}</div>
  <div>治具名称: {data.works}</div>
  <div>申请日期: {new Date(data.startdate).toLocaleDateString()}</div>
  <div>需求日期: {new Date(data.enddate).toLocaleDateString()}</div>
  <div>状态：{data.status}</div>
</div>

<style>
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    color: #000000;
  }

  .title {
    font-weight: bold;
    margin-bottom: 5px;
  }
</style>